// Footer
.footer-comp {
  background: #000;
  .top-sec {
    .wrap {
    }
  }
  .copy-right {
    color: #fff;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background: linear-gradient(95.86deg, #d114ba 25.94%, #5b0ccc 119.59%);
    padding: 14px 2px;
    text-align: center;
  }
}
